@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.jd {
  background: url(../../public/JDCombine.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.amotions {
  background: url(../../public/VideoConference.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.lg {
  background: url(https://ben-papac.s3.us-east-1.amazonaws.com/LG);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
